@import "datepicker-config";

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

.datepicker__cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker__cell {
  border-radius: $datepickerBorderRadius;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: $datepickerDayCellSize;
  z-index: 1;

  &._focus {
    background: map_get($datepickerBG, hover);
  }

  &._current {
    color: map_get($datepickerTextColor, currentDate);

    &._focus {
      color: map_get($datepickerTextColor, common);
    }

    &.-in-range- {
      color: map_get($datepickerTextColor, currentDate);
    }
  }

  &.-in-range- {
    background: map_get($datepickerBG, inRange);
    color: map_get($datepickerTextColor, common);
    border-radius: 0;

    &._focus {
      background-color: rgba(map_get($datepickerBG, inRange), .2);
    }
  }

  &._disabled {
    cursor: default;
    color: map_get($datepickerTextColor, disabled);

    &._focus {
      color: map_get($datepickerTextColor, disabled);
    }

    &.-in-range- {
      color: darken(map_get($datepickerTextColor, disabled), 5);
    }

    &._current {
      &._focus {
        color: map_get($datepickerTextColor, disabled);
      }
    }
  }

  &.-range-from- {
    border: 1px solid rgba(map_get($datepickerBG, selected), .5);
    background-color: map_get($datepickerBG, inRange);
    border-radius: $datepickerBorderRadius 0 0 $datepickerBorderRadius;
  }
  &.-range-to- {
    border: 1px solid rgba(map_get($datepickerBG, selected), .5);
    background-color: map_get($datepickerBG, inRange);
    border-radius:  0 $datepickerBorderRadius $datepickerBorderRadius 0;
  }

  &.-range-from-.-range-to- {
    border-radius: $datepickerBorderRadius;

  }

  &._selected {
    color: #fff;
    border: none;
    background: map_get($datepickerBG, selected);

    &._current {
      color: #fff;
      background: map_get($datepickerBG, selected);
    }

    &._focus {
      background: map_get($datepickerBG, selectedHover);
    }
  }

  &:empty {
    cursor: default;
  }
}

//  Day names
// -------------------------------------------------

.datepicker__days-names {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 3px;
}

.datepicker__day-name {
  color: map_get($datepickerTextColor, dayNames);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
}

//  Day cell
// -------------------------------------------------

.datepicker__cell_day {
  width: (100/7)#{'%'};

  &._other-month {
    @extend %otherMonth;
  }
}


//  Months
// -------------------------------------------------

.datepicker__months {}

.datepicker__cells_months {
  height: $datepickerMinBodyHeight;
}

//  Month cell
// -------------------------

.datepicker__cell_month {
  width: 33.33%;
  height: 25%;
}

//  Years
// -------------------------------------------------

.datepicker__years {
  height: $datepickerMinBodyHeight;
}

.datepicker__cells_years {
  height: $datepickerMinBodyHeight;
}
//  Year cell
// -------------------------

.datepicker__cell_year {
  width: 100% / $datepickerYearsPerRow;
  height: 33.33%;

  &.-other-decade- {
    @extend %otherMonth;
  }
}