@import "datepicker-config";

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;

  @media print {
    display: none;
  }
}

.datepicker {
  background: #fff;
  border: 1px solid map_get($datepickerBorderColor, default);
  box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
  border-radius: $datepickerBorderRadius;
  box-sizing: content-box;
  font-family: $datepickerFontFamily, sans-serif;
  font-size: $datepickerFontSize;
  color: map_get($datepickerTextColor, common);
  width: $datepickerWidth;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity $datepickerTransitionSpeed $datepickerTransitionEase, transform $datepickerTransitionSpeed $datepickerTransitionEase, left 0s $datepickerTransitionSpeed;
  z-index: $datepickerZIndex;

  &._from-top {
    transform: translateY(-$datepickerTransitionOffset);
  }
  &._from-right {
    transform: translateX($datepickerTransitionOffset);
  }
  &._from-bottom {
    transform: translateY($datepickerTransitionOffset);
  }
  &._from-left {
    transform: translateX(-$datepickerTransitionOffset);
  }


  &._active {
    opacity: 1;
    transform: translate(0);
    transition: opacity $datepickerTransitionSpeed $datepickerTransitionEase, transform $datepickerTransitionSpeed $datepickerTransitionEase, left 0s 0s;
  }
}

.datepicker-inline {
  .datepicker {
    border-color: map-get($datepickerBorderColor, inline);
    box-shadow: none;
    position: static;
    left: auto;
    right: auto;
    opacity: 1;
    transform: none;
  }

  .datepicker__pointer {
    display: none;
  }
}

.datepicker__content {
  box-sizing: content-box;
  padding: $datepickerPadding;

  .-only-timepicker- & {
    display: none;
  }
}

//  Pointer
// -------------------------------------------------
$pointerHalfSize: $datepickerPointerSize / 2 - 1;

.datepicker__pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid map-get($datepickerBorderColor, default);
  border-right: 1px solid map-get($datepickerBorderColor, default);
  width: $datepickerPointerSize;
  height: $datepickerPointerSize;
  z-index: -1;

  //  Main axis
  // -------------------------

  ._top-left &, ._top-center &, ._top-right & {
    top: calc(100% - #{$pointerHalfSize});
    transform: rotate(135deg);
  }

  ._right-top &, ._right-center &, ._right-bottom & {
    right: calc(100% - #{$pointerHalfSize});
    transform: rotate(225deg);
  }

  ._bottom-left &, ._bottom-center &, ._bottom-right & {
    bottom: calc(100% - #{$pointerHalfSize});
    transform: rotate(315deg);
  }

  ._left-top &, ._left-center &, ._left-bottom & {
    left: calc(100% - #{$pointerHalfSize});
    transform: rotate(45deg);
  }

  //  Secondary axis
  // -------------------------

  ._top-left &, ._bottom-left & {
    left: $datepickerPointerOffset;
  }
  ._top-right &, ._bottom-right & {
    right: $datepickerPointerOffset;
  }
  ._top-center &, ._bottom-center & {
    left: calc(50% - #{$datepickerPointerSize} / 2);
  }

  ._left-top &, ._right-top & {
    top: $datepickerPointerOffset;
  }
  ._left-bottom &, ._right-bottom & {
    bottom: $datepickerPointerOffset;
  }
  ._left-center &, ._right-center & {
    top: calc(50% - #{$datepickerPointerSize} / 2);
  }

}

//  Body
// -------------------------------------------------

.datepicker__body {
  display: none;

  &._active {
    display: block;
  }
}